<!-- 
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#" type="image/x-icon">
    <link rel="stylesheet" href="css/index.css">
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <title>Sample HTML</title>
</head>
<body>
   <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="header-nav.html"></section>
   <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="hero.html"></section>
   <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="about-us.html"></section>
   <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="catalog.html"></section>
   
   
   <script src="/js/catalog.js"></script>
   

</body>
</html>
-->

<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="#" type="image/x-icon">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />


  <script
    src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"
  ></script>

  <title>Chronovia</title>
</head>
<body>

  <section hx-get="header-nav.html" hx-trigger="load" hx-swap="outerHTML"></section>
  <section hx-get="about-us.html" hx-trigger="load" hx-swap="outerHTML"></section>
  <section hx-get="catalog.html" hx-trigger="load" hx-swap="outerHTML"></section>
  

  <script src="js/catalog.js" defer></script>
  

</body>
</html>

